{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title 'Statistics' %}
{% block content_title %}Dashboard{% endblock %}
{% block main %}
    <section class="mb-2">
        <div class="grid md:grid-cols-3 gap-3">
            {{ include('admin/components/card.html.twig', {name: 'Caisse', amount: 395, icon: 'fa fa-wallet', percentage: 'increase', percentage_change: 95}) }}
            {{ include('admin/components/card.html.twig', {name: 'Dépots', amount: creditObject.balance, icon: 'fa fa-money-bill-1', percentage: creditObject.change, percentage_change: creditObject.amount}) }}
            {{ include('admin/components/card.html.twig', {name: 'Depenses', amount: 395, icon: 'fa-money-bill-transfer', percentage: 'decrease', percentage_change: 45}) }}
            {{ include('admin/components/card.html.twig', {name: 'Argent commissions', amount: 395, icon: 'fa-money-bill-transfer'}) }}
            {{ include('admin/components/card.html.twig', {name: 'Commission', amount: 395, icon: 'fa-cogs', icon_color: 'violet'}) }}
            {{ include('admin/components/card.html.twig', {name: 'Users', amount: 458, icon: 'fa fa-user'}) }}
        </div>
        <div class="my-2">
            <div class="">
                {{ render_chart(cotisationEachMonthChart) }}
            </div>
        </div>
        <div class="grid md:grid-cols-3 gap-3 my-2">
            <div class="col-span-1 md:col-span-2">
                {{ render_chart(debitChart) }}
            </div>
            <div class="col-span-1">
                {{ render_chart(specialityChart) }}
            </div>
        </div>
    </section>
{% endblock %}