{# templates/admin/my-custom-page.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title 'Statistics' %}
{% block content_title %}Dashboard{% endblock %}
{% block main %}
    <section class="mb-2">
        <div class="grid md:grid-cols-3 gap-3">
            {{ include('admin/components/card.html.twig', {name: 'Caisse', amount: walletObject.balance ~ ' fcfa', icon : 'fa fa-wallet', percentage: walletObject.change, percentage_change: walletObject.amount}) }}
            {{ include('admin/components/card.html.twig', {name: 'Dépots', amount: userDepostiteObect.balance ~ ' fcfa', icon: 'fa fa-money-bill-1', percentage: userDepostiteObect.change, percentage_change: userDepostiteObect.amount}) }}
            {{ include('admin/components/card.html.twig', {name: 'Depenses', amount: 395 ~ ' fcfa', icon: 'fa-money-bill-transfer', percentage: 'neutral', percentage_change: 45}) }}
            {{ include('admin/components/card.html.twig', {name: 'Argent commissions', amount: commissionDepositeObject.balance ~' fcfa', icon: 'fa-money-bill-transfer', percentage: commissionDepositeObject.change, percentage_change: commissionDepositeObject.amount}) }}
            {{ include('admin/components/card.html.twig', {name: 'Commissions', amount: commissionCount, icon: 'fa-cogs', icon_color: 'violet'}) }}
            {{ include('admin/components/card.html.twig', {name: 'Utilisateurs', amount: userCount, icon: 'fa fa-user'}) }}
        </div>
        <div class="my-2">
            <div class="">
                {{ render_chart(cotisationEachMonthChart) }}
            </div>
        </div>
        <div class="grid md:grid-cols-3 gap-3 my-2">
            <div class="col-span-1 md:col-span-2">
                {{ render_chart(debitChart) }}
            </div>
            <div class="col-span-1">
                {{ render_chart(specialityChart) }}
            </div>
        </div>
    </section>
{% endblock %}